<% let legendLabel = '' %>
<% let name = '' %>
<% let xyId = '' %>
<% let latlngId = '' %>
<% if (dataType == 'source') { %>
  <% legendLabel = 'データの種類' %>
  <% name = 'sourceDataType' %>
  <% xyId = 'sourceIsXY' %>
  <% latlngId = 'sourceIslatlng' %>
<% } else { %>
  <% legendLabel = '変換先のデータ形式' %>
  <% name = 'convertToDataType' %>
  <% xyId = 'convertToXY' %>
  <% latlngId = 'convertTolatlng' %>
<% } %>

<fieldset class="row align-items-start">
  <legend class="py-0 col-4 col-form-label"><%= legendLabel %></legend>
  <div class="col-8">
    <div class="form-check">
      <input type="radio" id=<%= xyId%> class="form-check-input border border-2 border-dark-subtle" name=<%= name%>
        value="XY" checked>
      <label class="form-check-label" for=<%= xyId%>>XY座標</label>
    </div>
    <div class="form-check">
      <input type="radio" id=<%= latlngId%> class="form-check-input border border-2 border-dark-subtle" name=<%= name%>
        value="latlng">
      <label class="form-check-label" for=<%= latlngId%>>緯度経度</label>
    </div>
  </div>
</fieldset>
